@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    @Html.TextBox("FullName", "Mohit", new { style = "background-color:Red;" })
    @Html.TextBox("FullName","AJAY",new  {@class="form-control"})


    @Html.Label("Select Country") &nbsp; @Html.DropDownList("Country", new SelectList(new[] { "India", "Nepal", "Bhutan", "Pakistan" }), new { @class="form-control" });
    @Html.Partial("Contact");
</main>