@model TentRentalProject.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/LoginPage.css" />
</head>
<body>
    @using (Html.BeginForm("CheckDetails", "Login", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
    {
        {
            <div class="loginContainer">
                <div class="loginForm">
                    <h2 class="text-center mb-4">Login</h2>

                    <div class="form-group mb-5" style="position:relative;">
                        @Html.LabelFor(model => model.Email, "EMAIL:")
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", id = "email", required = "required" })
                        @Html.ValidationMessageFor(model => model.Email, "Please fill up properly", new { @class = "invalid-tooltip" })
                    </div>
                    <div class="form-group mb-5" style="position:relative;">
                        @Html.LabelFor(model => model.Password, "PASSWORD:")
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password", required = "required" })
                        @Html.ValidationMessageFor(model => model.Password, "Please fill it up", new { @class = "invalid-tooltip" })
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <p class="text-center mt-3">
                        Don't have an account?
                        @Html.ActionLink("SignUp", "SignUp", "Login")
                </div>
            </div>
        }
    }

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Validation.js"></script>
</body>

</html>




